body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 16px;
  #root {
    position: absolute;
    height: 100%;
    left: calc((100vw - 976px) / 2);
  }
}
